.button {
  outline: none;
  border: none;
  padding: 0.3rem 0.7rem;
  margin: 0 0.1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  background: #fff;
  transition: background 0.2s;
  &:hover {
    background: rgb(170, 170, 170);
    color: #fff;
  }
}

.primary {
  background: $primary-color;
  color: #fff;
  transition: background 0.2s;
  &:hover {
    background: $primary-color-active;
    color: #fff;
  }
}

.inactive {
  background: $bg-button-group;
  color: $font-color-inactive;
  transition: background 0.2s;
  &:hover {
    background: #fff;
    color: $font-color-dark;
  }
}
