.topbar {
  height: 100px;
  width: 100vw;
  padding-left: 100px;
  border-bottom: 2px solid rgba(173, 173, 173, 0.4);
  display: flex;
  place-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: $bg-navbar;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .topbar {
    padding: unset;
    padding-left: 1rem;
    height: 70px;
    overflow: auto;
    z-index: 1000;
  }
}
