.card-container {
  width: 250px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba($font-color-grey, 0.5);
  padding: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px rgba(grey, 0.2);
  margin: 1rem 0;
}

.card-container-active {
  background: $primary-color;
  .content-time,
  div {
    color: #fff;
  }
  .content-editable[placeholder]:empty:before {
    content: attr(placeholder);
    color: rgba(226, 226, 226, 0.651);
  }
}
