$primary-color: #17a2b8;
$primary-color-active: #3191ff;

$active-navbar: #4192ec;

$font-color-dark: #233539;
$font-color-grey: #989898;
$font-color-inactive: #c7c9cb;

$bg-rightbar: #fcfdfd;
$bg-content-grey: #f4f8f9;
$bg-navbar: #fafbfc;
$bg-icon-yellow: #ffd012;
$bg-button-group: #eff4f6;
