.button-group {
  background: $bg-button-group;
  padding: 0.3rem;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .button-group {
    display: flex;
    flex-direction: row;
    overflow: auto;
  }
}
