.sidebar {
  position: fixed;
  background: $bg-navbar;
  height: 100vh;
  width: 100px;
  display: grid;
  place-items: center;
  border-right: 2px solid rgba(173, 173, 173, 0.4);
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10000;
  .side-logo {
    width: 100px;
    height: 60px;
    text-align: center;
    padding-top: 30px;
    position: absolute;
    top: 0;
    cursor: pointer;
    img {
      width: 30px;
      transition: width 0.2s;
    }
    &:hover {
      img {
        width: 35px;
      }
    }
  }
  .side-container {
    .side-list {
      list-style: none;
      width: 100px;
      height: 60px;
      text-align: center;
      .link {
        width: 100px;

        img {
          padding-top: 8px;
          width: 25px;
          transition: width 0.2s;
        }
        &:hover {
          img {
            width: 30px;
          }
        }
      }
      .active {
        &::after {
          content: "";
          position: absolute;
          width: 30px;
          height: 40px;
          background: $active-navbar;
          left: -25px;
          border-radius: 5px;
          box-shadow: 3px 0px 4px 2px rgba($active-navbar, 0.2);
          animation: getin 0.5s ease;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    height: 70px;
    width: 100vw;
    bottom: 0;
    overflow: auto;
    // border: 2px solid blueviolet;
    .side-logo {
      display: none;
      img {
      }
      &:hover {
        img {
        }
      }
    }
    .side-container {
      display: flex;
      flex-direction: row;
      .side-list {
        display: flex;
        align-items: center;
        width: 70px;
        // border: 2px solid green;
        .link {
          img {
            width: 20px;
          }
          &:hover {
            img {
            }
          }
        }
        .active {
          &::after {
            width: 40px;
            height: 30px;

            left: unset;

            bottom: -25px;

            transform: translateX(-32px);
          }
        }
      }
    }
  }
}
